/* 
*				About Section Styling
========================================================================== */

// The Wordpress page slug
#om-oss {
	width: 100%;
}

#blank-slate {
	height: 90vh;
	flex-wrap: wrap;
	#blank-slate1 {
		background: $color-1;
		flex: 1;
		height: 100%;
		@include main-spacing(margin-right);
	}
	#blank-slate-inside-wrapper {
		flex: 1;
		height: 100%;
		#blank-slate2 {
			background: $color-2;
			height: 35%;
			@include main-spacing(margin-bottom);
		}
		#blank-slate3 {
			background: $color-3;
			height: 65%;
		}
	}
}

#about-1, #about-2, #about-3 {
	text-align: center;
	margin: 1% 0;
	height: 90vh;
	align-items: center;
	justify-content: center;
	div {
		width: 70%;
	}
}

#about-1 {
	background: $color-1;
	h2 {
		@include mq-size(font-size, 3, em);
	}
}
#about-2 {
	background: $color-2;
	h2 {
		@include mq-size(font-size, 2.5, em);
	}
}
#about-3 {
	background: $color-3;
	h2 {
		@include mq-size(font-size, 2.5, em);
	}
	h4 {
		@include mq-size(font-size, 1.5, em);
	}
}