/* 
*				About Section Styling
========================================================================== */
#about-section-container {
	@include large-spacing(margin-bottom);
	@include large-spacing(margin-bottom);
	@include section-height;
	overflow: hidden;
	position: relative;
}

#about {
	height: 100%;
	position: relative;
	left: 0;
	transition: left 0.6s cubic-bezier(.37,.07,.63,1);
}


#about-1, #about-2, #about-3 {
  	@include section-height;
	width: 100%;
	flex-shrink: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	div {
		text-align: center;
		width: 70%;
		margin: 8%;
	}
}

#about-1 {
	background: $color-3;
	position: relative;
	h2 {
		@include mq-size(font-size, 3, em);
	}
}
#about-2 {
	background: $color-1;
	h2 {
		@include mq-size(font-size, 2.5, em);
	}
}
#about-3 {
	background: $color-2;
	h2 {
		@include mq-size(font-size, 2.5, em);
	}
	h4 {
		@include mq-size(font-size, 1.8, em);
	}
}

/* Slide bubbles */
.bubbles {
	justify-content: center;
	position: absolute;
	bottom: 4%;
	left: 0;
	right: 0;
	margin-bottom: 5px;
	.bubble {
		margin: .4em;
		background-color: white;
		border-radius: 100000px;
		width: 1em;
		height: 1em;
		display: inline-block;
		opacity: 0.42;
		transition: all 0.2s linear;
		cursor: pointer;
		&:hover {
			opacity: 0.75;
			transform: scale(1.2);
		}
		&.active {
			opacity: 1;
		}
	}
}

.next-slide, .prev-slide {
	position: absolute;
	top: 50%;
	z-index: 999;
	color: $color-white;
	font-size: 2.8em;
	padding: 0 .5em;
}
.next-slide {
	right: 0;
}
.prev-slide {
	left: 0;
}
