/* 
*				About Section Styling
========================================================================== */

#blank-slate {
	height: 90vh;
	flex-wrap: wrap;
	#blank-slate1 {
		background: $color-1;
		flex: 1;
		height: 100%;
		@include main-spacing(margin-right);
	}
	#blank-slate-inside-wrapper {
		flex: 1;
		height: 100%;
		#blank-slate2 {
			background: $color-2;
			height: 35%;
			@include main-spacing(margin-bottom);
		}
		#blank-slate3 {
			background: $color-3;
			height: 65%;
		}
	}
}

#about-1, #about-2, #about-3 {
	text-align: center;
	margin: 1% 0;
	height: 90vh;
	align-items: center;
	justify-content: center;
}

#about-1 {
	background: $color-1;
	h2 {
		@include mq-size(font-size, 3, em);
	}
}
#about-2 {
	background: $color-2;
}
#about-3 {
	background: $color-3;
}