/* 
*				Generall Styling
========================================================================== */

body {
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Rozha One', serif;
		color: $color-darkgrey;
	}
	p {
		font-family: 'Raleway', sans-serif;
		color: $color-darkgrey;
	}
	ul, li {
		list-style: none;
	}
}


/* 
*				Flex Box
========================================================================== */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}