/* 
*				General Styling
========================================================================== */

*, html, body, div, section {
		box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	a {
		color: $color-black;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: $heading-font;
		color: $color-darkgrey;
	}
	h1 {
		@include breakpoint(xs) {
			font-size: 1.6em;
		}
		@include breakpoint(lg) {
			font-size: 2em;
		}
	}
	p {
		font-family: $main-font;
		color: $color-darkgrey;
	}
	ul, li {
		list-style: none;
	}
	@include breakpoint(xs) { 
		padding-top: 124.4px
	 }
 
  	@include breakpoint(sm) {
		padding-top: 144.8px;
	 }
 
  	@include breakpoint(md) {
		padding-top: 161.2px
	}
 
	@include breakpoint(lg) {
		padding-top: 184px;
	}
}

@include placeholder-color-font($color-darkgrey, $main-font, 14px);
@include placeholder-align(center);

#main-wrapper {
	@include large-spacing(padding);
	@include breakpoint(xs) { 
		padding-top: 0;
	 }
 
  	@include breakpoint(sm) {
		padding-top: 0;
	 }
 
  	@include breakpoint(md) {
		padding-top: 0;
	}
 
	@include breakpoint(lg) {
		padding-top: 0;
	}
}

.no-padd {
	padding: 0 !important;
}

/* 
*				Flex Box
========================================================================== */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* 
*				General classes
========================================================================== */

.active-item, .active-item span {
	color: $color-black;
}

.button {
	padding: 4%;
	margin: 2%;
}

.button-close {
	color: $color-darkgrey;
}
