/* 
*				Blank Slate Section Styling
========================================================================== */

.blank-slate-container {
	perspective: 1000px;
	perspective-origin: bottom;
}

#blank-slate {
	height: 81.5vh;
	flex-wrap: wrap;
	margin-bottom: $largeSpacing;
	#blank-slate1 {
		background: $color-1;
		flex: 1;
		height: 100%;
		@include main-spacing(margin-right);
	}
	#blank-slate-inside-wrapper {
		flex: 1;
		height: 100%;
		#blank-slate2 {
			background: $color-2;
			height: 35%;
			@include main-spacing(margin-bottom);
		}
		#blank-slate3 {
			background: $color-3;
			height: 65%;
		}
	}
}

/*
*			React CSSTransitionGroup Classes
----------------------------------------------------------------*/

.slide-leave {
	opacity: 1;
}
.slide-leave.slide-leave-active {
	transform: rotateX(88deg);
	transform-origin: bottom;
	opacity: 0.5;
	transition: .8s cubic-bezier(.7,0,.9,1);
}
