/* 
*				Contact Section Styling
========================================================================== */

#kontakt {
	@include small-spacing(margin-bottom);
	@include breakpoint(xs) { 
		height: calc(100vh - 191px);
		overflow: visible;
	}
	@include breakpoint(sm) {
		min-height: calc(100vh - 201px);
	}
	@include breakpoint(md) {
		height: calc(100vh - 211px);
	}
	@include breakpoint(lg) {
		height: calc(100vh - 227px);
	}
	flex-wrap: wrap;
	overflow: hidden;
}

.disableScroll {
	@include breakpoint(xs) {
		display: block;
		width: 100%;
		height: 100%;
		background: transparent;
		position: absolute;
		z-index: 99;
	}
	@include breakpoint(sm) {
		display: none;
	}
	@include breakpoint(md) {
		display: none;
	}
	@include breakpoint(lg) {
		display: none;
	}
}

#contact-text {
	background: $color-1;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100%;
	flex: 1;
	color: $color-darkgrey;
	>div {
		justify-content: center;
		align-items: center;
		padding: 10%;
	}
	@include breakpoint(xs) {
		@include small-spacing(margin-bottom);
		min-height: 50%;
		order: 1;
		z-index: 2;
		min-width: 100%;
	}
	@include breakpoint(sm) {
		@include small-spacing(margin-bottom);
		min-height: 50%;
		order: 1;
		min-width: 100%;
	}
	@include breakpoint(md) {
		@include small-spacing(margin-left);
		order: 2;
	}
	@include breakpoint(lg) {
		@include small-spacing(margin-left);
		order: 2;
	}
	#open-contact-form {
		text-transform: uppercase;
		background: $color-1;
		font-family: $main-font;
		color: $color-darkgrey;
		text-align: center;
		padding: 2% 4%;
		margin: 3% 0 10% 0;
		border: 3px solid $color-darkgrey;
	}
}

#contact-form-container {
	@include large-spacing(padding);
	padding-bottom: 3em !important;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-clip: padding-box;
	justify-content: center;
	align-items: center;
	background: $color-2;
	@include breakpoint(xs) {
		position: relative;
		height: 100%;
		min-height: 140vh;
		width: 100%;
		width: 100vw;
		overflow: visible;
	}
	#contact-form {
		position: absolute;
		background: $color-2;
		color: $color-darkgrey;
		text-align: center;
		margin: auto;
		padding: 5% 0;
		@include breakpoint(xs) {
			max-height: 100%;
			padding: 2% 7%;
			textarea {
				height: 90px;
			}
		}
		.button-close {
			background: $color-2;
			margin-left: auto;
			vertical-align: middle;
			font-size: 1.2em;
		}
		h2 {
			margin-top: 0;
		}
		input, textarea {
			width: 100%;
			background: $color-2;
			padding: 4%;
			border: 2px solid $color-darkgrey;
			vertical-align: middle;
		}
		input[type=submit], button {
			background: $color-2;
			border: 2px solid $color-darkgrey;
			font-family: $main-font;
			font-weight: 600;
			color: $color-darkgrey;
			vertical-align: middle;
		}
	}
}
/* 
*				Map Styling
------------------------------------------------------------- */

#map-container {
	flex: 1;
	z-index: 0;
	position: relative;
	order: 1;
	height: 100%;
	@include breakpoint(xs) {
		@include small-spacing(margin-bottom);
		min-height: 50%;
		order: 2;
		min-width: 100%;
		z-index: 0;
	}
	@include breakpoint(sm) {
		@include small-spacing(margin-top);
		@include small-spacing(margin-bottom);
		min-height: 50%;
		order: 2;
		min-width: 100%;
	}
	@include breakpoint(md) {
		order: 1;
	}
	* {
		overflow: hidden;
	}
}

#map {
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	position: relative;
}


.mapboxgl-map {
	font-family: $main-font;
}
#mapWrap {
	background:rgb(22,13,0);
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	#map {
		width:100%;
		height:100%;
		position:relative;
		overflow:visible;
		.mapboxgl-canvas {
			z-index:10;
		}
	}
}

#mapFallback {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	z-index:10000;
	top:0;
	padding-top:150px;
	.fallbackHeading{
		padding:50px;
		h2, h3{
			color: $color-darkgrey;
		}
	}
}
.map-fallback{
	background:url(https://api.mapbox.com/styles/v1/daknight/citmr9xdx004h2hp2svgnxq30/static/18.051254,59.335659,15.00,0.00,0.00/900x700?access_token=pk.eyJ1IjoiZGFrbmlnaHQiLCJhIjoiazkwSjJqSSJ9.ght0Fub2UHczFlkQ0eHzZA);
	background-size:cover;
	background-position:center center;
}

.scrollBlock{
	width:100%;
	height:100%;
	background:transparent;
	position: absolute;
	z-index: 100;
}