/* 
*				Footer Styling
========================================================================== */

#footer {
	background: $color-2;
	color: $color-darkgrey;
	padding: 3%;
	padding-top: 0;
}
#footer-nav {
	align-self: center;
	text-align: center;
	ul {
		padding: 0;
		margin-bottom: 0;
	}
	a {
		display: inline-block;
		margin: 0 1em 1em;
		text-decoration: none;
		font-family: 'Rozha One', serif;
		font-size: 1.3em;
		color: $color-darkgrey;
	}
}