/* 
*				Footer Styling
========================================================================== */

#footer {
	@include large-spacing(padding);
	@include breakpoint(xs) { 
		padding-top: 0;
	 }
 
  	@include breakpoint(sm) {
		padding-top: 0;
	 }
 
  	@include breakpoint(md) {
		padding-top: 0;
	}
 
	@include breakpoint(lg) {
		padding-top: 0;
	}
	height: 9.2em;
	background: $color-2;
	justify-content: center;
	align-items: center;
	color: $color-darkgrey;
	p {
		@include breakpoint(xs) { 
			font-size: .7em;
		}
	
		@include breakpoint(sm) {
			font-size: .9em;
		}
	}
}

#footer-backup {
	margin-top: auto;
	bottom: 0;
	left: 0;
	right: 0;
	.flex-column {
		@include large-spacing(padding);
		min-height: 9.2em;
		flex: 1;
		background: $color-2;
		justify-content: center;
		align-items: center;
		color: $color-darkgrey;
		p {
			@include breakpoint(xs) { 
				font-size: .7em;
			}
		
			@include breakpoint(sm) {
				font-size: .9em;
			}
		}
	}
}

#footer-nav {
	align-self: center;
	text-align: center;
	ul {
		padding: 0;
		margin-bottom: 0;
	}
	a {
		display: inline-block;
		margin: 0 1em 1em;
		text-decoration: none;
		font-family: 'Rozha One', serif;
		font-size: 1.3em;
		color: $color-darkgrey;
		@include breakpoint(xs) { 
			font-size: 1em;
		}
	
		@include breakpoint(sm) {
			font-size: 1.2em;
		}
	}
}