/* 
*				Header Styling
========================================================================== */

#header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	flex: 1 1 100%;
	background: $color-white;
	width: 100%;
	z-index: 2000;
}

#header {
	@include large-spacing(padding);
	flex: 1 1 100%;
	justify-content: space-between;
	padding-bottom: 0;
}

#top-nav {
	align-self: center;
	text-align: right;
	a {
		text-decoration: none;
		font-family: 'Rozha One', serif;
		font-size: 1.3em;
		color: $color-darkgrey;
		@include breakpoint(xs) {
			font-size: 1em;
		}
		@include breakpoint(sm) {
			font-size: 1.1em;
		}
		@include breakpoint(md) {
			font-size: 1.2em;
		}
	}
}

#dk-logo {
	height: 120px;
	width: auto;
	align-self: center;
	@include breakpoint(xs) {
		height: 80px;
	}
	@include breakpoint(sm) {
		height: 100px;
	}
	@include breakpoint(md) {
		height: 110px;
	}
	@include breakpoint(lg) {
		
	}
}