/* 
*				Services Section Styling
========================================================================== */

#tjanster {
	@include large-spacing(margin-top);
	@include large-spacing(margin-bottom);
	@include breakpoint(xs) {
		min-height: calc(100vh - 38.4px);
	}
	@include breakpoint(sm) {
		min-height: calc(100vh - 44.8px);
	}
	@include breakpoint(md) {
		min-height: calc(100vh - 51.2px);
	}
	@include breakpoint(lg) {
		min-height: calc(100vh - 64px);
	}
	
}

#service-menu {
	position: relative;
	transition: all .4s;
	@include breakpoint(xs) {
		height: 0;
		width: 0;
		opacity: 0;
		transform: translateX(-150%);
	}
	ul, li {
		align-items: center;
	}
	ul {
		@include small-spacing(margin-bottom);
		max-width: 100%;
		margin-top: 0;
		flex: 1;
		flex-wrap: wrap;
		justify-content: space-around;
		background: $color-3;
		@include breakpoint(xs) {
			flex-direction: column;
			padding: 2.5%;
		}
		@include breakpoint(sm) {
			padding: 2.5%;
		}
		@include breakpoint(md) {
			padding: 3%;
		}
		@include breakpoint(lg) {
			padding: 3.5%;
		}
	}
	li {
		max-width: 9%;
		cursor: pointer;
		@include breakpoint(xs) {
			max-width: 100%;
			margin: 2%;
		}
	
		@include breakpoint(sm) {
			max-width: 17%;
    		margin: 2%;
		}
	
		@include breakpoint(md) {
			max-width: 11%;
		}
	
		@include breakpoint(lg) {
			
		}
	}
	img {
		max-width: 90%;
		@include breakpoint(xs) { 
			display: none;
		}
	}
	span {
		text-transform: uppercase;
		color: $color-darkgrey;
		@include breakpoint(xs) {
			font-size: 14px;
			font-size: 3.5vw;
		}
		@include breakpoint(sm) {
			font-size: 10px;
			font-size: 1.2vw;
		}
		@include breakpoint(md) {
			font-size: 12px;
			font-size: .8vw;
		}
		@include breakpoint(lg) {
			font-size: 14px;
			font-size: .7vw;
		}
	}
	.active-item span {
		color: $color-black;
	}
}

#service-menu.service-menu-open {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	opacity: 1;
	transform: translateX(0);
	z-index: 3000;
	ul.flex-row {
		height: 100%;
		margin: 0;
	}
}

.services-content {
	flex: 1;
	flex-wrap: wrap;
	#service-feat-img-container {
		flex: 1;
		background: $color-2;
		@include breakpoint(xs) { 
			display: none;
		}
	
		@include breakpoint(sm) {
			display: none;
		}
	
		@include breakpoint(md) {
			// min-width: 100%;
		}
	
		@include breakpoint(lg) {
			// min-width:100%;
		}
		#service-feat-img {
			flex: 1;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	
	#service-text {
		flex: 1;
		background: $color-1;
		color: $color-darkgrey;
		justify-content: center;
		@include breakpoint(md) {
			@include small-spacing(margin-left);
		}
		@include breakpoint(lg) {
			@include small-spacing(margin-left);
		}
		>div {
			padding: 6%;
		}
	}	
}

/*
*			Burger menu
----------------------------------------------------------------*/

$bar-width: 4em;
$bar-height: .5em;
$bar-spacing: 1.2em;
#service-burger-container {
	@include small-spacing(margin-bottom);
	position: relative;
	flex: 1;
    min-height: 5em;
	max-height: 2em;
	background: $color-2;
	@include breakpoint(sm) { 
			display: none;
		}
		@include breakpoint(md) { 
			display: none;
		}
		@include breakpoint(lg) { 
			display: none;
		}
	.hamburger-menu {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin: 1em;
		width: $bar-width;
		height: $bar-height + $bar-spacing*2;
		cursor: pointer;
		z-index: 4000;
	}
	.bar,
	.bar:after,
	.bar:before {
		width: $bar-width;
		height: $bar-height;
	}
	.bar {
		position: relative;
		transform: translateY($bar-spacing);
		background: rgba(255, 255, 255, 1);
		transition: all 0ms 300ms;
		&.animate {
			background: rgba(255, 255, 255, 0); 
		}
	}
	.bar:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: $bar-spacing;
		background: rgba(255, 255, 255, 1);
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.bar:after {
		content: "";
		position: absolute;
		left: 0;
		top: $bar-spacing;
		background: rgba(255, 255, 255, 1);
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.bar.animate:after {
		top: 0;
		transform: rotate(45deg);
		transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
	}
	.bar.animate:before {
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
	}
}

