.single-content {
	@include large-spacing(margin);
	min-height: 53vh;
	background: $color-1;
	padding: 2% 26%;
	text-align: center;
	flex: 1;
	justify-content: center;
	align-items: center;
	@include breakpoint(xs) {
		padding: 2% 4%;
	}
	@include breakpoint(sm) {
		padding: 2% 10%;
	}
	@include breakpoint(md) {
		padding: 2% 20%;
	}
}