/* 
*				Variables
========================================================================== */

/*
*			Colors
---------------------------------*/
$color-1: #41d6b6;
$color-2: #e4dbd0;
$color-3: #d1c7b9;
$color-darkgrey: #6d6e71;
$color-black: #000;
$color-white: #fff;

/*
*			General
---------------------------------*/

$white-line: .4em;

